@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'Jambono_Black';
  src: url('/assets/fonts/Jambono_Black.ttf');
}

@font-face {
  font-family: 'Jambono_Bold';
  src: url('/assets/fonts/Jambono_Bold.ttf');
}

@font-face {
  font-family: 'Jambono_Medium';
  src: url('/assets/fonts/Jambono_Medium.ttf');
}

@font-face {
  font-family: 'Jambono-Light';
  src: url('/assets/fonts/Jambono_Light.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('/assets/fonts/DesignerVN-Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/assets/fonts/DesignerVN-Poppins-Regular.ttf');
}

@font-face {
  font-family: 'KoHoBold';
  src: url('/assets/fonts/KoHo-Bold.ttf');
}

@font-face {
  font-family: 'KoHoMedium';
  src: url('/assets/fonts/KoHo-Medium.ttf');
}
